$secondary_color: #8c0606;

#container-menu{    
    margin: 5em 5em;
    button{
        border:none;
        background-color: $secondary_color;
        padding: 0.8em;
        font-weight: 600;
        border-radius: 10px;
        color: white;
    }
    
    button:hover{
        cursor: pointer;
        color: $secondary_color;
        background-color: #8f3636;
    }
}

.table-container{
 border: solid 1px #000000;
 border-collapse: collapse;
 width: 50%;
 margin: 2em 5em 1em 5em;
 overflow-x: auto;

    table{
        width: 100%;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    th,td{
        border: 1px solid #dddddd;
        padding: 12px 15px;
        text-align: left;
        font-size: 0.95em;
    }

    th{
        $background-color:$secondary_color;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
    }

    tr:nth-child(even){
        background-color: #f9f9f9;
    }
    tr:hover{
        background-color: #f1f1f1;
    }
}
